@model IEnumerable<Product>

<h1>Administration</h1>

<div class="row">

    <div class="col-lg-12">

        <ul>
            <li><a href="@(Url.Action<AdminProductController>(x => x.Index(null)))">Products</a></li>
            <li><a href="@(Url.Action<AdminUserController>(x => x.Index()))">Users</a></li>
        </ul>
    </div>
    
</div>
