body {
    padding-top: 0px;
    padding-bottom: 20px;
    color: #111;
    font-size: 14px;
    background-color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.price {
    font-size: 120%;
}

.image {
    margin-bottom: 20px;
}
.album {
    width: 100%;
    height: 550px;
    border: 0;
}

.row {
    margin-bottom: 40px;
}

.navbar-nav > li > a:hover {
    text-decoration: underline;
}

.navbar {
    margin-bottom: 5px;
}

.breadcrumb {
    padding: 8px;
    margin-bottom: 5px;
}

.navbar-default {
    background-color: #f5f5f5;
  border-color: #eeeeee;
}

.sold a {
    color: #999;
    text-decoration: line-through;
}

.label-sold {
  background-color: #999;
}