@model List<HowShop.Web.Models.Product>

<h2>Contato</h2>

<p>Caso tenha ficado interessado em algum produto, se deseja mais informações, entre em contato comigo.</p>

<h3><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>Telefone</h3>

<p><mark>8132-5785</mark></p>

<p>Caso eu não atenda, envie uma mensagem pelo Whatsapp que responderei assim que eu puder.</p>

<h3><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</h3>

<p><a href="mailto:joaofx@gmail.com"><mark>joaofx@gmail.com</mark></a></p>

<h2>Retirada</h2>

<p>Para produtos pequenos podemos combinar de retirar na Asa Norte, ao lado do Conjunto Nacional, no horário comercial.</p>

<p>Para produtos maiores, retirar no Guara I em horário não comercial.</p>